.container {
  margin: 20px auto;
  width: 900px;
  padding: 0px 20px 20px 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

form li {
  padding: 15px;
}

nav {
  background-color: #524F50;
  height: 60px;
  padding: 0 20px;
}

#logo {
  float: left;
  font-size: 25px;
}

#login {
  float: right;
  font-size: 20px;
  padding-left: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  line-height: 60px;
}


