<h1>URLs too short?</h1>
<h2>NOT A PROBLEM!!</h2>
<h2>We'll longen that URL for you. Just enter it here:</h2>
<form action="/create" method="POST">
  <input type="text" name="url[original_url]">
  <input type="submit" value="LONGEN IT">
</form>
