<h1>Sign in!</h1>
<form action="/log_in" method="post">
  <ul>
    <li>email: <input name="user[email]" type="text"></li>
    <li>password: <input name="user[password]" type="password"></li> 
  </ul>
  <input type="submit" value="DO IT!">
</form>
