<h2>Welcome to the best URL Longener out there!</h2>
<h3>Sign up here to keep track of all your awesomely lengthy URLs:</h3>

<form action="/sign_up" method="post">
  <ul>
    <li>first name: <input name="user[first_name]" type="text"></li>
    <li>last name: <input name="user[last_name]" type="text"></li>
    <li>email: <input name="user[email]" type="text"></li>
    <li>password: <input name="user[password]" type="password"></li> 
  </ul>
  <input type="submit" value="DO IT!">
</form>
